{% extends "base.html" %}
{% load rest_framework %}

{% block content %}
  <form class="ui form" method="post" action="{% block app-form-action-url %}{% url 'oauth2_provider:update' application.id %}{% endblock app-form-action-url %}">

    <h4 class="ui dividing header">
      {% block app-form-title %}
          Redigera applikationen: "{{ application.name }}"
      {% endblock app-form-title %}
    </h4>

    {% csrf_token %}

    <div class="field">
      <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
      {{ form.name }}
    </div>

    <div class="field">
      <label for="{{ form.redirect_uris.id_for_label }}">{{ form.redirect_uris.label }}</label>
      {{ form.redirect_uris }}
    </div>

    <div class="field">
      <label for="{{ form.client_type.id_for_label }}">{{ form.client_type.label }}</label>
      {{ form.client_type }}
    </div>

    <div class="field">
      <label for="{{ form.client_id.id_for_label }}">{{ form.client_id.label }}</label>
      {{ form.client_id }}
    </div>

    <div class="field">
      <label for="{{ form.client_secret.id_for_label }}">{{ form.client_secret.label }}</label>
      {{ form.client_secret }}
    </div>

    <div class="field">
      <label for="{{ form.authorization_grant_type.id_for_label }}">{{ form.authorization_grant_type.label }}</label>
      {{ form.authorization_grant_type }}
    </div>

    <div class="ui message {% if form.non_field_errors %}error{% endif %}">
      {% for error in form.non_field_errors %}
        <div class="header">{{ error }}</div>
      {% endfor %}
    </div>

    <a class="ui orange button" href="{% block app-form-back-url %}{% url "oauth2_provider:detail" application.id %}{% endblock app-form-back-url %}">
      Go back
    </a>
    <button type="submit" class="ui submit button green">Save</button>
  </form>
{% endblock %}