# Django version
django>=1.7

# Elasticsearch
pyelasticsearch

# API
djangorestframework
djangorestframework-jwt

# Testing
factory_boy
coverage
selenium
django-nose
coveralls
fake-factory
django-debug-toolbar
