# Django version
django>=1.7

# Elasticsearch
pyelasticsearch

# API
djangorestframework
djangorestframework-jwt
django-filter

# Testing
factory_boy
coverage
selenium
django-nose
coveralls
fake-factory
django-debug-toolbar

# sqlparse should be installed by django-debug-toolbar but
# in some cases it does not so lets include it here.
sqlparse