{% extends "base.html" %}

{% load rest_framework %}

{% block content %}
  <div class="ui form">
    <h3 class="ui dividing header">{{ application.name }}</h3>

    <div class="field">
      <label>Client id</label>
      <input type="text" value="{{ application.client_id }}" readonly="readonly">
    </div>

    <div class="field">
      <label>Client secret</label>
      <input type="text" value="{{ application.client_secret }}" readonly="readonly">
    </div>

    <div class="field">
      <label>Client typ</label>
      <input type="text" value="{{ application.client_type }}" readonly="readonly">
    </div>

    <div class="field">
      <label>Authorization Grant Type</label>
      <input type="text" value="{{ application.authorization_grant_type }}" readonly="readonly">
    </div>

    <div class="field">
      <label>Redirect Uris</label>
      <textarea readonly="readonly">{{ application.redirect_uris }}</textarea>
    </div>

      <div class="btn-toolbar">
        <a class="ui button orange" href="{% url "oauth2_provider:list" %}">Go back</a>
        <a class="ui button green" href="{% url "oauth2_provider:update" application.id %}">Edit</a>
        <a class="ui button red" href="{% url "oauth2_provider:delete" application.id %}">Delete</a>
      </div>
    </div>
{% endblock content %}