{% load staticfiles %}
{% load rest_framework %}

<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="sv"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="sv"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="author" href="humans.txt">
    <link rel="icon" href="" />
    <script src="{% static "rest_framework/js/jquery-1.8.1-min.js" %}"></script>
    <script type="text/javascript" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.0/semantic.min.js"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.0/semantic.min.css">
  </head>
  <body>
    <div class="layout">
      <div class="ui stackable fourteen column grid">

        <div class="sixteen wide column" id="header-column">
          {% include 'includes/header.html' %}
        </div>

        <div class="ui vertically padded page grid">
          <div class="twelve column" id="main-column">
            {% block content %}{% endblock %}
          </div>
        </div>

        <div class="sixteen wide column" id="footer-column">
          {% include 'includes/footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>